*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color:aliceblue;
}

#conatiner{
  width: 100%;
  height: 100vh;
  position: relative;

}

#box{
  width: 180px;
  background-color: rgb(245, 249, 46);
  color: rgb(6, 6, 6);
  padding: 15px;
  /* position: fixed; */
  position: absolute;
  left: 50%;
  bottom: 2px;
  line-height: 25px;
  font-size: 17px;
  border-radius: 25px;
}
