* {
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 163, 18);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border-radius: 8px;
  border: solid 3px black;
  background: rgb(36, 30, 30);
}

.fill {
  background-image: url('https://plus.unsplash.com/premium_photo-1721268770804-f9db0ce102f8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #070707;
}

.hovered {
  background-color: #e91212;
  border-color: white;
  border-style: dashed;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}